# Yarn without zero-installs
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Node
node_modules

# Firebase
firebase-debug.log

# IntelliJ
.idea

# Items

dist/*
